@model IEnumerable<GTMS.Models.Player>

<h1>Correo enviado</h1>
<hr />

@{
    ViewData["Title"] = "SendEmailToPlayer";
}

<h1>Confirmacion enviada!</h1>


<div>
    <a asp-action="Index">Back to List</a>
</div>